.photo-gallery {
    display: flexbox;
    margin: 20px;
    flex-wrap: wrap;
    background-color: firebrick;
    padding: 10px;
  }
  
  
    .photo-gallery {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: auto auto auto;
      background-color: seagreen;
      padding: 10px;
    }
  
  
  .photo {
    background-color: thistle;
    border: 3px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
.act{
  background-color: crimson;
  border: 3px solid  royalblue;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}