.sanidhya:hover{
    background-color: green;
    color: aliceblue;
}

.Sanidhya1:hover{
    background-color: green;
    color: gray;
}
.yash:hover{
    background-color: blue;
}
.hr.new4 {
    border: 1px solid red;
  }

.amam:hover {
    background-color: gray;
    color: white;
}